{% extends 'base.html'%}

{% block title %}home{% endblock title %}

{% block body %}
<main>
  <h2>Add Data</h2>
   
    <form action="/undev" class="add-data-buttons">
      <button class='shadow btn '> Food <div id="p">+</div></button>
      <button class='shadow btn '>Weight <div id="p">+</div></button>
      <button class='shadow btn'>Blood Pressure <div id="p">+</div></button>
      <button class='shadow btn'>Blood Sugar <div id="p">+</div></button>
      <button class='shadow btn'>Medicine <div id="p">+</div></button>
      <button class='shadow btn'>Activity <div id="p">+</div></button>
    </form>
  
</main>
{% endblock body %}

